################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LASTBACKUP01-02-2021/FileContentIndex/0bdb4a33-e224-4888-9d4d-2f088a7820f6.vsidx
